body {
  background-color: #FAF0E6;
}

hr {
  border-style: none;
  background-color: #FAF0E6;
  border-style: dotted;
  border-width: 15px;
  border-width: MediumOrchid ;
  border-top: none;

  width: 10%;
}

img {
  height: 250px;
}

#id {
  background-color: #87CEFA;
  color: #298797;

}

.class {
  background-color: #5cb3a7;
  color: #bd3a3a;

}

body {
    
    color: #778899;

}

h1 {

  color: #1e836c;
}

h2 {

  color: #1e836c;
}

h3 {
 
  color: #1e836c;
}

p {

  color: #1e836c;
}
